//- footer
footer
  .row(role="navigation")
    .column.small-1
      a(href="/" title="Token Pockets").logo.margin-top
      
    .column.small-1
      a(href="https://copay.io" title="Powered by Copay" target="_blank").powered-by.margin-top

    .column.small-10.show-for-large-up
      ul.inline-list.right.padding-top-less.medium-padding-top
        li
          a.menu-item.small.white(href="https://tokenly.com" target="_blank") Tokenly Tools      
        li
          a.menu-item.small.white(href="https://github.com/tokenly/pockets/wiki/POCKETS---FAQ" target="_blank") FAQs
        li
          a.menu-item.small.white(href="https://github.com/tokenly/pockets" target="_blank") View the Code
        li 
          a.menu-item.small.white(href="mailto:team@tokenly.com") Help & Support
        
